@import 'styles/variables.scss';
@import 'styles/header.scss';

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $custom-grey;
  width: 100vw;
  height: 100vh;
  font-family: monospace;

  
}


.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.title {
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: $custom-pink;
    padding-top: 20px;
  }
